<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Elisa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61AA5EE91D52768200B3536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AA5F001D52768300B3536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61AA5F0B1D52768300B3536C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
